       body { background-color: #5a5a5a}

  

    .jumbotron 
{
     font-family: 'Century Gothic';
    background-color:#3f9bff;
         padding: 20px;
            margin: 0 auto;
            width: 200px;
        border: 1px solid #c0c0c0;
        
       }

  #jumbotron a {
   background-color: #1c58aa;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:'Century Gothic';
      margin-bottom:10px;
       border: 2px solid black;

}

  #jumbotron a:hover, a:active {
  background-color: cornflowerblue;
}

  li{
    
      margin-bottom:20px;
      
  }
   ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  

}
   .sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
 
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  font-family: 'Century Gothic';
}

.sidenav a:hover {
  color: #818181;
}
.residenttable 
{
    border: 1px solid rgb(164, 164, 164);
  border-radius: 8px;
  background: transparent linear-gradient(rgb(255, 255, 255), rgb(222, 222, 222)) repeat scroll 0% 0%;
  clear: both;
  display: inline-block;
  width: 15em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

#residents {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100px;
}

#residents td, #residents th {
  border: 1px solid #ddd;
  padding: 8px;
}

#residents tr{background-color: #f2f2f2;}

#residents tr:hover {background-color: #ddd;}

#residents th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #005467;
  color: white;
}

      #crudbuttons a 
  {
      width:55px;
      background-color: #242d93;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:'Century Gothic';
  margin-bottom:5px;
  margin-top:5px;
  }
         
  #crudbuttons a:hover, a:active {
  background-color: dimgrey;
}
  
     .searchfunction 
{
     font-family: 'Century Gothic';
    background-color:#3f9bff;
         padding: 2px;
         padding-left:10px;
            width: 500px;
        border: 1px solid #c0c0c0;
        
       }

  #searchfunction a {
   background-color: #1c58aa;
  color: white;
  padding: 5px 10px;
  text-align: center;
  margin-top:20px;
  height:20px;
  text-decoration: none;
  display: inline-block;
  font-family:'Century Gothic';
      margin-bottom:10px;
       border: 1px solid black;
       font-size: 16px;

}

  #searchfunction a:hover, a:active {
  background-color: cornflowerblue;
}

      input.inputbuttonclass 
         {
              
   display: inline-block;
  position: relative;
  text-align:center;
    width: 6em;  
    height: 33px;
   
    
   padding: 5px;
  cursor: pointer; 
         }