
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Developer</title>
    <style>
         body { background-color: #3b3745}
    h1 {color:#eef0f1}
        h1 { font-family: 'Lucida Console';   }
    h1 {font-size: 58px;}
     h2 {color:#eef0f1}
        h2 { font-family: Arial, Helvetica, sans-serif;   }



     ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Century Gothic'
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

 .headline 
        {
        padding: 0.35em 0.625em 0.75em;
            margin: 0 2px;
            width: auto;
        border: 1px solid #c0c0c0;
      
        
        }

 .bodytext 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

}
    </style>
</head>

<body>
     <div class="navbar navbar-inverse navbar-fixed-top" style= "background-color:#333 ">

           

            <ul>
               
                <li> @Html.ActionLink("Cyphire Solutions", "Developersite", "Home" ) </li>
                   <li style="float:right"> @Html.ActionLink("Return", "Index", "Home") </li>
                
                </ul>

         <div class="headline">


             <center> <h1 > Cyphire Solutions' newest release</h1></center>
             <center> <h2 > <i>Innovation is the Future, the stepping stones to progress. </i></h2></center>

            
         </div>
</div>
</body>
</html>
